langchain
groq
streamlit
chromadb
pandas
python-dotenv
PyPDF2
python-docx
openai
tiktoken
langchain-community
langchain-core
validators
pytesseract
pdf2image
scikit-learn
nltk
transformers
torch
plotly
linkedin-api
slack-sdk
email-validator
python-magic-bin
anonymizedf
langchain-groq
pysqlite3-binary

