langchain
groq
streamlit
pandas
python-dotenv
PyPDF2
python-docx
openai
tiktoken
langchain-community
langchain-core
validators
pytesseract
pdf2image
scikit-learn
nltk
transformers
torch
plotly
linkedin-api
slack-sdk
email-validator
python-magic==0.4.27
anonymizedf
langchain-groq
chromadb==0.4.22
pysqlite3-binary==0.5.2
numpy<2.0.0  # Ensure compatibility with chromadb
