langchain
groq
streamlit
pandas
python-dotenv
PyPDF2
python-docx
openai
tiktoken
langchain-community
langchain-core
validators
pytesseract
pdf2image
scikit-learn
nltk
transformers
torch
plotly
linkedin-api
slack-sdk
email-validator
python-magic
anonymizedf
langchain-groq
chromadb
numpy # Ensure compatibility with chromadb
spacy==3.5.3
thinc==8.1.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
pip==24.3.1
